<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body>

<header id="header">
    <div class="innertube">
        <h1><%= title %></h1>
        <div id="navbar">
            <ul>
                <li><a id="select1" class={{selectActive}} href=<%= present.sections.route %> ><%= present.sections.text %></a></li>
                <li><a id="select2" class={{selectActive}} href=<%= present.nav.route %> ><%= present.nav.text %></a></li>
                <li><a id="select3" class={{selectActive}} href="/about">About</a></li>
            </ul>
        </div>
    </div>
</header>

<div id="wrapper">
    <main>
        <div id="content">
            <div class="innertube">