<%- include header %>
    <form action=<%= "/sections/" + toRoute(section.title) %> method="post" class="login">
        <h3><%= section.title %></h3>
        <% section.body.forEach(function(w) { %>
            <%- include(type(w.type), {w: w}) %>
        <% }); %>
        <br>
        <input type="submit" value="submit">
    </form>
<%- include footer %>