<nav id="nav">
    <div class="innertube">
        <h3>Sections</h3>
        <form action="/sections/<%= getSection %>/setYear" method="post">
            <h5>
                Year:
                <input type="number" min="0" value="<%= getYear %>" name="year">
                <input type="submit" value="Retrieve">
            </h5>
        </form>
        <ul>
            <% for (var i = 0; i < sections.length; i++) { %>
            <li>
                <a id='nav~<%= toRoute(sections[i].title) %>'
                   href="/sections/<%= toRoute(sections[i].title) %>/year/<%= getYear %>">
                    <%= sections[i].title %>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <form action="/downloadreport/year/<%= getYear %>">
        <input type="submit" value="Generate Report">
    </form>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        <%- include sectionTypes.js %>

        function displayDone(isDone, id) {
            if (document.getElementById(id)) {
                document.getElementById(id).style.backgroundColor =
                        isDone ? 'green' : 'red';
            }
        }

        function displayNavDone(isDone, id) {
            document.getElementById(id).className = isDone ? 'done' : 'notDone';
        }

        function getId(ids, currentBody, callback) {
            ids[currentBody.type].id(currentBody, callback);
        }

        (function () {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/sections/year/" + <%= getYear %>, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var models = JSON.parse(xhttp.responseText);
                    var sections = JSON.parse(JSON.stringify(<%- s_sections %>));

                    for (var s in sections) {
                        var isNotDone = false;
                        if (models[s]) {
                            for (var b in sections[s].body) {
                                var currentBody = sections[s].body[b];
                                getId(sectionTypes, currentBody, function (id) {
                                    if (models[s][id] === undefined) {
                                        displayDone(false, id);
                                        isNotDone = true;
                                    } else {
                                        displayDone(true, id);
                                    }
                                });
                            }
                            displayNavDone(!isNotDone, 'nav~' + s);
                        } else {
                            displayNavDone(false, 'nav~' + s);
                            for (var b in sections[s].body) {
                                var currentBody = sections[s].body[b];
                                getId(sectionTypes, currentBody, function (id) {
                                    displayDone(false, id);
                                });
                            }
                        }
                    }
                }
            };
        }())
    });
</script>