<%- include ../header %>
<h3><%= section.title %></h3>

<h6>Previous Years:
    <select id="previousYear" onchange="switchModel()">
        <option id="tooltip" selected disabled>Choose Here</option>
    </select>
    <button id="import" onclick="setData()">Import</button>
</h6>

<div id="docPreview" style="display:none">
    <% section.body.forEach(function(w) { %>
    <%- include(body(w.type), {w: w, prev: '~prev'}) %>
    <% if (w.validators && w.validators.length !== 0) { %>
    <% w.validators.forEach(function(v) { %>
    <%- include(validators(v.type), {w: w, v: v, prev: '~prev'}) %>
    <% }); %>
    <% } %>
    <% }); %>
    <br>
    <br>
</div>

<form action="/sections/<%= toRoute(section.title) %>/year/<%= getYear %>" method="post">
    <% section.body.forEach(function(w) { %>
    <%- include(body(w.type), {w: w, prev: ''}) %>
    <% if (w.validators && w.validators.length !== 0) { %>
    <% w.validators.forEach(function(v) { %>
    <%- include(validators(v.type), {w: w, v: v, prev: ''}) %>
    <% }); %>
    <% } %>
    <% }); %>
    <br>
    <input type="submit" value="submit">
</form>
<%- include ./oldFooter %>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        <%- include htmlTypes.js %>

        (function () {
            var xhttp = new XMLHttpRequest();
            var getYear = parseInt("<%= getYear %>");

            xhttp.open("GET", "/sections/" + "<%= getSection %>", true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var previousYears = JSON.parse(xhttp.responseText);
                    previousYears.forEach(function (p) {
                        if (p.year !== getYear) {
                            var option = document.createElement("option");
                            option.text = p.year;
                            option.value = p.year;
                            document.getElementById("previousYear").appendChild(option);
                        }
                    });
                }
            }
        }())

        function switchModel() {
            var xhttp = new XMLHttpRequest();
            var previousYear = document.getElementById("previousYear").value;

            xhttp.open("GET", "/d/sections/" + "<%= getSection %>" + "/year/" + previousYear, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var selectedYear = JSON.parse(xhttp.responseText);

                    delete selectedYear.__v;
                    delete selectedYear.year;
                    delete selectedYear.username;
                    delete selectedYear._id;

                    for (var key in selectedYear) {
                        var element = document.getElementById(key + '~prev');
                        element.disabled = true;

                        htmlTypes[element.type].setDataFromModel(element, key, selectedYear[key]);
                    }

                    return document.getElementById("docPreview").style.display = 'inline';
                }
            };
        }

        function setData() {
            var prev = document.getElementsByName("~prev");

            for (var k = 0; k < prev.length; k++) {
                var id = prev[k].id.split('~')[0];
                var element = document.getElementById(id);
                htmlTypes[element.type].setDataFromElement(element, prev[k]);
            }

            document.getElementById('tooltip').selected = true;
            return document.getElementById("docPreview").style.display = 'none';
        }

        (function () {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/sections/" + "<%= getSection %>", true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var previousYears = JSON.parse(xhttp.responseText);

                    if (previousYears.length === 0 ||
                            (previousYears.length < 2 && previousYears[0].year === <%= parseInt(getYear) %>) ||
                            <%= disablePrevious || false %>) {
                        document.getElementById("previousYear").disabled = true;
                        document.getElementById("import").disabled = true;
                    }
                }
            }
        }())
    });
</script>